@media screen and (max-width: 1685px) {
  .tabs .tab {
    width: 48%;
  }

  .tab-options .option {
    width: 48%;
  }
}

@media screen and (max-width: 1200px) {
  .branding {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .tab-options .option {
    width: 100%;
    margin-bottom: 10px;
  }
  .container-padding {
    padding: 0px;
  }
  .intro h1 {
    font-size: 20px;
  }
  .intro,
  .rec {
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .tabs .tab {
    width: 100%;
  }
  .intro,
  .rec {
    display: none;
  }
  .slider {
    height: 400px;
  }
  .tab-options .option {
    width: 48%;
  }
}
